$primary: #1e6799;
$accent: #ff9900;
$warn: #b20824;
$success: #5eb718;
$white: #ffffff;
$bg-color: rgba(243, 243, 243, 0.85);

$radial-primary-gradient: radial-gradient(50% 100% at 50% 100%, #4896c2 60%, #1e6799 100%);
