@import 'src/assets/styles/sass/utils/color';

.text {
  &-primary {
    color: $primary !important;
  }
  &-accent {
    color: $accent !important;
  }
  &-warn {
    color: $warn !important;
  }
  &-success {
    color: $success !important;
  }
}

.text-normal {
  white-space: normal;
}

.cute-text-by-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;

  &.max-line-1 {
    -webkit-line-clamp: 1;
  }
  &.max-line-2 {
    -webkit-line-clamp: 2;
  }
  &.max-line-3 {
    -webkit-line-clamp: 3;
  }
  &.max-line-4 {
    -webkit-line-clamp: 4;
  }
  &.max-line-5 {
    -webkit-line-clamp: 5;
  }
}
